<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Dashboard</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }

        .topic {
            margin-bottom: 20px;
        }

        .topic h2 {
            margin-bottom: 5px;
            color: #007BFF;
        }

        .data-list {
            margin-left: 20px;
        }

        .data-list li {
            margin-bottom: 5px;
            color: #333;
        }
    </style>
</head>

<body>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="{{ url_for('static', filename='js/client.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/elements.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/topics.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/funcs.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/monitoring.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/topics_data.js') }}" defer></script>



    <h1>Monitoring Dashboard</h1>
    <p>Status: <span id="status">Disconnected</span></p>
    <h13>All the topics we have</h3>
    <div id="topics-container"></div>
    <a href="/" class="btn btn-back">Back to Home</a>
    <ul id="messages"></ul>

</body>
</html>
